# general R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# python environment files
env/

#additional files in 'in' and 'out' folders
data_acquisition/in/*.csv
data_acquisition/out/*
!data_acquisition/out/placeholder
